<!DOCTYPE html>
<html>
<head>
    <title>Seleccionar o Crear Cliente</title>
</head>
<body>
    <h2>Seleccionar Cliente Existente</h2>
    <form method="post">
        {% csrf_token %}
        {{ existing_customer_form.as_p }}
        <button type="submit" name="select_customer" class="btn btn-primary">Seleccionar Cliente</button>
    </form>

    <h2>O Crear Nuevo Cliente</h2>
    <form method="post">
        {% csrf_token %}
        {{ new_customer_form.as_p }}
        <button type="submit" name="create_customer" class="btn btn-secondary">Crear Cliente</button>
    </form>
</body>
</html>
